*{
	margin: 0;
	padding: 0;
  }
  body {
	width: 100%;
	height: 100vh;
	background-image: url('https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container {
	padding: 7rem;
	max-width: 1000px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: 'Courier New', Courier, monospace;
  }

  .time {
	padding: 1rem 0;
	font-size: 2rem;
	font-family: 'Courier New', Courier, monospace;
  }

  h1,
  p {
	color: #f8f8f8;
  }

  button {
	padding: 0.4rem 1rem;
	margin: 0 0.2rem;
	border-radius: 10px;
	border: 1px solid #f8f8f8;
	font-size: larger;
  }

  button:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: #f8f8f8;
  }